/* add drop shadow to buttons */

* {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

body {
    margin: 0;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(235, 220, 183);
    max-height: 600px;
}

.calculator-body > * {
    padding: 10px;
}

#display,
.clear-delete > * ,
.divide-row > * ,
.multiply-row > * ,
.subtract-row > *, 
.add-row > * {
    padding: 10px;
    font-size: 48px;
    background-color: black;
    border: none;
    color: rgb(225, 225, 225);
}

.calculator-body,
.clear-delete > * ,
.divide-row > * ,
.multiply-row > * ,
.subtract-row > *, 
.add-row > * {
    filter: drop-shadow(5px 8px 4px rgb(108, 107, 107));
    border: 2px solid black;
}


.clear-delete > *:hover ,
.divide-row > *:hover ,
.multiply-row > *:hover ,
.subtract-row > *:hover , 
.add-row > *:hover {
    background-color: rgb(62, 58, 58);
}


.divide-row > * ,
.multiply-row > * ,
.subtract-row > *, 
.add-row > * {
    width: 22%;
}

.clear-delete > * {
    width: 47.5%;
    background-color: rgb(172, 60, 60);
}

.display,
.clear-delete ,
.divide-row ,
.multiply-row ,
.subtract-row, 
.add-row {
    width: 400px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.display {
    display: flex;
    flex-direction: column;
}

#display,
#upper-display {
    padding: 0 25px;
    padding-bottom: 10px;
    width: auto;
    display: flex;
    justify-content: flex-end;
    /* align-content: center; */
    align-items: flex-end;
    background-color: rgb(106, 114, 99);
    height: 50px;
    color:rgb(0, 0, 0);
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px rgb(77, 73, 73);
}

#upper-display {
    font-size: 24px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* height: 500px;
    padding: 10px;
    margin-top: 50px ; */ 
}

.operator {
    background-color: rgba(82, 42, 156, 0.705);
}